body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: black;
  background-image: url(""), linear-gradient(#eb01a5, #d13531);
  overflow: hidden;
  filter: blur(8px);
  -webkit-filter: blur(0.5px);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
